* {
	margin: 0;
	padding: 0;

}
body {
	background-color: #262626;
	color: #d4d4d4;
	font-size: 14px;
	font-family: Verdana;
}
header {
	background-color: #222222;
	padding: 55px 160px 120px 160px;
}
.sait {
	width: 1280px;
	margin: 0 auto;
}
nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}
nav ul li {
	margin-right: 30px;
}
.roket {
	margin-right: 70px;
	width: 60px;
	height: 60px;
}
.mail {
	width: 17pxp;
	height: 12px;
	margin-right: 25px;
	margin-left: 0;
}
.phone {
	width: 17pxp;
	height: 17px;
	margin: 0;
}
nav {
	display: flex;
	justify-content: space-between;
}
a {
	color: #d4d4d4;
	text-decoration: none;
	font-size: 14px;
	font-family: Verdana;
}
a:hover {
	color: #ffffff;
}
.main {
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}
.left h1 {
	margin-bottom: 60px;
	
}
.left p {
	margin-bottom: 60px;
}
.left {
	margin-left: 130px;
	
	
}
.right {
	width: 438px;
	height: 437px;
	margin-left: 85px;
}
h1 {
	color: #ffffff;
	font-family: "Courier New";
	font-size: 45px;
}

.button {
	width: 240px;
	height: 50px;
	background-color: #ffcb06;
	border: 0px solid #ffcb06;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;
}
.button:hover {
	background-color: #d4d4d4;
	color: #ffffff;
}

.arrow {
	width: 19px;
	height: 10px;
}

.advantages {
	background: #131313;
	padding: 80px 160px;
	display: flex;
	justify-content: space-between;
}
.123 {
	width: 60px;
	height: 65px;
}
.advantages p {
	margin-top: 36px;
}

.content {
	padding: 80px 160px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}


.content h1 {
	color: #131313;
	font-size: 24px; 
	font-family: "Couriur-New";
	margin-bottom: 30px;
}
.content p {
	color: #222222;
	font-family:  Verdana;
	font-size: 14px;
	margin-bottom: 26px;
}
.content ul {
	color: #131313;
	font-family: Verdana;
	font-size: 14px;
}

.var {
	margin-bottom: 60px;
}
.content ul li {
	margin-bottom: 30px;
}
.var1 {
	margin: 0;
	margin-top: 80px; 
	margin-bottom: 35px;
}
.content span span {
	font-weight: bold;
}
.content span {
	color: #131313;
}
.content li{
	color: #ffcb06;
	margin-left: 20px;
}
.form  {
	padding: 80px 160px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
}

.form h1 {
	color: #131313;
	font-family: "Courier New";
	font-size: 24px;
	margin-bottom: 50px;
}

.form p {
	color: #222222;
	font-family: Sans-serif;
	font-size: 14px;
}

input {
	color: #222222;
	font-size: 14px;
	font-family: Sans-serif;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
}
.inp {
	width: 400px
}
.inp1 {
	width: 192px;
}
.inp2 {
	margin-right: 15px;
}
.form span {
	font-size: 13px;
	font-family: "Sans-serif";
	margin-left: 15px;
	color: #222222;
}
.button-1 {
	width: 240px;
	height: 50px;
	background-color: #222222;
	border: 0px solid #222222;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;
}
.button-1 span {
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana;
	margin-top: 
}
.table h1 {
	color: #ffcb06;
	font-size:  24px;
	font-family: "Corier-New";
}
.left3{
	justify-content: space-between;
	display: flex;
}
.table {
	padding: 80px 160px;
}
.table p{
	font-size: 13px;
	font-family: verdana;
}
table {
	margin-top: 75px;
	width: 980px;
	height: 145px;
}
th {
	background-color: #222222;
}





